<h2>@ViewBag.Title</h2>

@if (ViewBag.helpers.Count == 0)
{
    <h3>No entries yet!!!</h3>
}

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Comment</th>
            <th>Edit Entries</th>
        </tr>
        @foreach (var help in ViewBag.helpers)

        {
            <tr>
                <td>@help.Name</td>
                <td>@help.Contact</td>
                <td>@help.Comment</td>
                <td><a asp-controller="LittleHelp" asp-action="Edit" asp-route-helpid="@help.HelpId">Edit</a></td>
            </tr>
        }
    </table>

<a asp-controller="LittleHelp" asp-action="Add">Add Entries</a><br />
<a asp-controller="LittleHelp" asp-action="Remove">Remove Entries</a><br />